<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img className="mr-2" src="../../../public/assets/img/animated/cloudy-day-1.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/cloudy-day-2.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/cloudy-day-3.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/cloudy-night-1.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/cloudy-night-2.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/cloudy-night-3.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/cloudy.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/day.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/night.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/rainy-1.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/rainy-2.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/rainy-3.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/rainy-4.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/rainy-5.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/rainy-6.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/rainy-7.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/snowy-1.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/snowy-2.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/snowy-3.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/snowy-4.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/snowy-5.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/snowy-6.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/thunder.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/weather-sprite.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/weather.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/weather_sagittarius.svg" alt="avatar" />
    <img className="mr-2" src="../../../public/assets/img/animated/weather_sunset.svg" alt="avatar" />
    <img className="mr-2" src="https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0012_heavy_snow_showers.png" alt="avatar" />
    <img className="mr-2" src="https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0028_heavy_snow_showers_night.png" alt="avatar" />
    395
    <img className="mr-2" src="https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0016_thundery_showers.png" alt="avatar" />
    <img className="mr-2" src="https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0032_thundery_showers_night.png" alt="avatar" />
    392
    <img className="mr-2" src="https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0024_thunderstorms.png" alt="avatar" />
    <img className="mr-2" src="https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0040_thunderstorms_night.png" alt="avatar" />
    389
    <img className="mr-2" src="https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0016_thundery_showers.png" alt="avatar" />
    <img className="mr-2" src="https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0009_light_rain_showers.png" alt="avatar" />
    386
    <img className="mr-2" src="https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0021_cloudy_with_sleet.png" alt="avatar" />
    <img style="width: 100px;" src="https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0037_cloudy_with_sleet_night.png" alt="avatar" />


</body>
</html>